---
---

<footer>
  <p>&copy; 2026 GBP Home Art & Decors. <br/>All Rights Reserved.</p>
</footer>

<style>
  footer {
    background: linear-gradient(135deg, #08114D, #111D7A);
    color: white;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
  }
</style>
